<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>


  <div class="container" id="franjaInicio">
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        CLIENTE
      </div>
    </div>
    <ul>
    <%for (var result in clientes){%>
      <li><%=result%><br>
        <strong><%=clientes[result].nombres%></strong> <br>
        <strong><%=clientes[result].apellidos%></strong><br>
        <strong><%=clientes[result].username%></strong><br>
        <strong><%=clientes[result].email%></strong><br>
        <strong><%=clientes[result].password%></strong><br>
        <strong><%=clientes[result].dni%></strong><br>
      </li>
    <%}%>
    </ul>
    </div>
  </div>

  <% include ./partials/footer-js %>

</body>
</html>
