<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>

  <div class="container">
    <section class="login-form">
    <form action="/clientes/sign_in" method="post" role="login">
      <% if ( loginFallo!='' ) { %>
      <%- "<div class='flash validation noEncontrado'>" %> <%=loginFallo%> <%- "</div>" %>
      <% } %>
      <% if ( desautorizado!='' ) { %>
      <%- "<div class='flash validation noEncontrado'>" %> <%=desautorizado%> <%- "</div>" %>
      <% } %>
      <% if ( deslogueado!='' ) { %>
      <%- "<div class='flash validation noEncontrado'>" %> <%=deslogueado%> <%- "</div>" %>
      <% } %>
      <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
      <input type="email"  placeholder="Email" required class="form-control input-lg" value="harold@gmail.com" name="email"/>
      <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" name="password"/>

      <div class="pwstrength_viewport_progress"></div>

      <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Iniciar session</button>
      <div>
        <a href="/formularioCliente">No tiene una cuenta? Registrese</a>
      </div>

    </form>
  </section>
  </div>

  <% include ./partials/footer-js %>
</body>
</html>
