<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>


  <div class="container" >
    <div class="row">
    <% include ./partials/dashboard-admin%>
    <div class="card">
      <div class="card-body">
        <% if ( message!='' ) { %>
        <%- "<div class='flash validation'>" %> <%=message%> <%- "</div>" %>
        <% } %>
        <% if ( encontrado!='' ) { %>
        <%- "<div class='flash validation encontrado'>" %> <%=encontrado%> <%- "</div>" %>
        <% } %>
        <% if ( noEncontrado!='' ) { %>
        <%- "<div class='flash validation noEncontrado'>" %> <%=noEncontrado%> <%- "</div>" %>
        <% } %>
        <% if ( error!='' ) { %>
        <%- "<div class='flash validation noEncontrado'>" %> <%=error%> <%- "</div>" %>
        <% } %>
        <h1>BIENVENIDO AL SISTEMA ADMIN</h1>
        <img src="/imagenes/perroSlider3.jpg" alt="" class="slider">
      </div>

    </div>
	  </div>
 </div>


<% include ./partials/footer-js %>
<script  type="text/javascript">
</script>
</body>
</html>
